.registration{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.registrationBox{
    border: 1px solid black;
    width: 400px;
    padding: 50px;
}

div > input{
    margin-bottom: 5px;
}